@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap');

/* mobile first technique.
desktop styling can be found in index.css
*/

.Nav{
  display: flex;
  color: black;
  background: white;
  justify-content: space-between;
  align-items: center;
  padding:0vw 4vw;
  font-size: 4vw;
  height: 20vw;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.1);
}

.Nav>h4{
  font-size: 14px;
}
.home{
  display: grid;
  justify-items: center;
}

/* card decoration*/

 .card{
  margin-top: 7vw;
  width: 74vw;
  height:97vw ;
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  
} 

.card-image-container{
  width: 74vw;
  height: 45vw;
  margin-bottom: 10vw;
}

.card img{
  width: 100%;
  height: 100%;
  object-fit: stretch;
 
}

.card-details{
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 5vw;
  line-height: 1.5;
}

.country-card-Name>h4{
  font-size: 6vw;
  margin-bottom: 3vw;
  line-height: 1;
}

.card-bold-p-text{
  font-weight: 600;
}
/**/
.search{
  margin-top: 3rem;
position: relative;
box-shadow: 0 0 10px 0 rgba(0,0,0,.1);

}

.search input{
  width: 90vw;
  padding: 3vw 15vw;
  position: relative;
  border-style: none;
  
}

.search input:focus{
  padding-left: 15vw;
  outline-style: none;

}

input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.search input.dark::placeholder{
  color: #fff;
}

.search input.dark{
  background-color:#2B3844;
  color:white
}

.search-btn{
  position: absolute;
  padding: 3vw 0vw;
  padding-left: 5vw;
  left: 0;
  color: #B2B2B2;
}
::placeholder{
  color: #C4C4C4;
}
.filter{
  width: 45vw;
  position: relative;
  margin-top: 5vw;
}

.select{
  position: relative;
  width: 45vw;
  align-items: center;
  padding: 3vw 0;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.select-btn{
  position: absolute;
  padding-right: 3vw;
  right: 0;
}
.filterText{
  font-size: 3.3vw;
  padding-left: 5vw;
}

.content{
  display: none;
  border-radius: 7px;
}

.filter.active .content{
  display: block;
}
ul{
  padding-top: 2vw;
  padding-left: 1rem;
  padding-bottom: 1vw;
}
.options li{
  height: 6.2vw;
  cursor: pointer;
  list-style: none;
  font-size: 3.5vw;
}

.options{
  width: 45vw;
  border-radius: 5px;
  margin-top: 0.5em;
  position: absolute;
  background-color: white;
}


/* Back page styling*/
.country-container{
  color: #111517;
}

.country-container.active{
  color: #fff;
}

.backBtn{
  cursor: pointer;
  border-radius: 2px;
  height: 9vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color:#111517;
  gap: 0.3vw;
  width:27vw;
  border-style: none;
  margin-top: 8vw;
  margin-left: 2em;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.backBtn.active{
  background-color: #2B3844;
  color: #fff;
}

.back{
 padding-left: 2vw;
 font-size: 4vw;
}

.Details{
margin-top: 14vw;
margin-left: 2em;
margin-right: 2em;
margin-bottom: 10vw;
}

.country{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27vw;
  text-decoration: none;
  color: inherit;
}

.link{
  text-decoration: none;
  color: #111517;
}
/* dark  btn*/
.backLink{
  display: flex;
}
.dark-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  column-gap: 6px;
}
.dark-btn>p{
  font-size: 12px;
  font-weight: 600;
}

.dark-btn>img{
  width: 13px;
}


.lang{
  margin-left:0.8vw ;
}


/* border styling */
.border-header{
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 2vw;
}

.border-countries{
  margin-top: 4vw;
}

.border-details{
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
}

.box{
  width: 24vw;
  height: fit-content;
  border-radius: 2px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
  line-height: 1;
  padding: 1.3vw 0;
}

.box.active{
  background-color: #2B3844;
  color: #fff;
}
/**/

.sub-details{
  margin-top: 9vw;
  line-height: 9vw;
}

.rightDetails{
  margin-top: 12vw;
}
.details-country-name{
  font-size: 7vw;
  margin-bottom: 4vw;
}

.details-text-bold{
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
  font-size: 1em;
 
}

.backFlag{
  width: 100%;
  height: auto;
  border-radius: 5px;
  overflow: hidden;
}

.backFlag img{
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

