@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Nunito Sans', sans-serif;


}
body{
  background: #fafafa;
}


@media (min-width:500px){
 
  .Nav{
    height: 80px;
    color: #111517;
  }
  .Nav>p{
    font-size: 16px;
    font-weight: 600;
  }

  .Nav>h4{
    font-size: 24px;
  }
  
  .dark-btn>img{
    width: 16px;
  }
  .bottom{
    display: grid;
    grid-template-columns: repeat(3,27vw); 
    column-gap: 4vw ;
  }
  
  

  /*back*/
  .info p{
    font-size: 4vw;
  }

  .border-header{
    font-size: 4.2vw;
  }

  .border-details{
    font-size: 3.5vw;
  }
  .details-country-name{
    font-size: 6vw;
  }


  /* card decoration large phones*/
  .card{
    width: 27vw;
    height: 33vw;
    margin-top: 3.9vw;
  }
  .card-image-container{
    width:  27vw;
    height: 16vw;
    margin-bottom: 3vw;
  }

  .card img{
    width: 100%;
    height: 100%;
    object-fit: stretch;
  }
  .country-card-Name>h4{
    margin-bottom: 0.6vw;
    line-height: 1;
    font-size: 2vw;
  }

  .card-details{
    padding-left: 1.8vw;
    padding-right: 1.8w;
    padding-bottom: 8vw;
  }
  
 

  .card-details p{
    font-size: 1.4vw;
    line-height: 1.7;
  }

  .card-details{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 2vw;

}

.filter{
  width: 19vw;
}

.filter.active .content{
  position:absolute;
}
 
.select{
  display: flex;
  position: relative;
  width: 19vw;
  padding: 1.5vw 0;
  
}

.select-btn{
  width: fit-content;
  height: fit-content;
  position: absolute;
  padding-right: 3vw;
  right: 0;
  font-size: 1.4vw;
}

.filterText{
  font-size: 1.5vw;
  padding-left: 1vw;
}

.options li{
  height: 2vw;
  font-size: 1.5vw;
}

.options{
  width: 19vw;
}

.search input{
  width: 90vw;
  padding: 1.4vw 4vw;
  border-radius: 6px;

}

.search-btn{
  padding: 1vw 0;
  padding-left: 3vw;

 }

 ::placeholder{
  font-size: 2vw;
  padding-left: 7vw;
}
.search input:focus{
  padding-left: 10vw;
}
.search{
  width: fit-content;
  height: fit-content;
  border-radius: 8px;
  overflow: hidden;
}
}


@media (min-width:800px){
  .home{
      display: grid;
      justify-content: center;

  }
  .Nav{
    display: flex;
    align-items: center;
  }
  .top{
    margin-top: 3.9vw;
    grid-column: 1/-1;
    display: grid; 
    column-gap: 20.5vw;
  }
 
.filter{
  position: relative;
  margin-top: 0;
  grid-column: 3/4;
  width: 15vw;
 
}
.filter.active .content{
  position:absolute;
}
 
.filterText{
  font-size: 1vw;
  padding-left: 1.5vw;
}
.select-btn{
  position: absolute;
  padding-right: 1vw;
  right: 0;
}
.select{
  display: flex;
  position: relative;
  width: 14.6vw;
  padding: 1.4vw 0;
  border-radius: 5px;
}
.search{
  margin-top: 0;
}
  .options{
    margin-top: 0.5em;
    width: 14.6vw;
  }
  .options li{
    padding-left: 0.3vw;
    height: 2vw;
    font-size: 1vw;
  }


  .search input{
    width: 36vw;
    padding: 1.4vw 4vw;
    border-radius: 6px;

  }

  .search-btn{
    padding: 1vw 0;
    padding-left: 2vw;

   }
  
  ::placeholder{
    font-size: 1.1vw;
    padding-left: 1vw;
  }

  .search input:focus{
    padding-left: 5vw;
  }
  
  .card{
    width: 20vw;
    height:25vw;
    border-radius: 5px;
    margin-top: 3.9vw;
  } 

  .bottom{
    display: grid;
    column-gap: 4vw;
    grid-template-columns: repeat(4,20vw); 
  }

  /* country page styling desktop (back-page)*/

  .country-container{
    margin: 0 2vw;
  }

  .backBtn{
    border-radius: 4px;
    margin-top: 80px;
    width: 136px;
    height: 40px;
  }
  .back{
    font-size: 16px;
    padding-left: 4px;
  }
/* border-fix*/
  .box{
    min-width: 6vw;
    width: fit-content;
    height: fit-content;
    line-height: 1;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    padding: 0.5em 0.6em;
  }

  .border-details{
    gap: 0.5vw 0.7vw;
    margin-left: 0.4vw;
  }

  .Details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-top: 6vw;
  }

  .border-countries >h4{
    width: 130px;
    align-self: center;
    white-space: nowrap;
  }
 
  .border-countries{
    display: flex;
  }
  .border-header{
    margin: 0;
    line-height: 1;
    font-size:16px;
    width: 130px;
  }


  /* right-left-back-details-desktop-style*/

  .sub-details{
    margin: 0;
    margin-left: 3vw;
  }

  .leftDetails{
    line-height: 2;
  }

  .rightDetails{
    margin: 0;
    line-height: 2;
  }
  .details-country-name{
    line-height: 1;
    margin: 0;
    margin-bottom: 2vw;
    font-size: 32px;
    grid-column: 1/-1;
    
  }
  .info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
 

  .backFlag img{
    border-radius: 10px;
    width: 95%;
  }

  /* text decoration for big screens*/
  .info p,.border-header{
    font-size: 16px;
  }

  .border-details{
    font-size: 14px;
  }
  .details-country-name{
    font-size: 32px;
  }

  /*card-styling */

  .card-image-container{
    width:  20vw;
    height: 12vw;
    margin-bottom: 1.8vw;
  }

  .card img{
    width: 100%;
    height: 100%;
    object-fit: stretch;
  }
  .country-card-Name>h4{
    margin-bottom: 0.8vw;
    line-height: 1;
    font-size: 1.3vw;
  }

  .card-details p{
    font-size: 1vw;
    line-height: 1.7;
  }

  .card-details{
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-bottom: 2vw;

}


}

