@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Nunito Sans', sans-serif;


}
body{
  background: #fafafa;
}


@media (min-width:500px){
 
  .Nav{
    height: 80px;
    color: #111517;
  }
  .Nav>p{
    font-size: 16px;
    font-weight: 600;
  }

  .Nav>h4{
    font-size: 24px;
  }
  
  .dark-btn>img{
    width: 16px;
  }
  .bottom{
    display: grid;
    grid-template-columns: repeat(2,40vw); 
    column-gap: 8vw ;
  }
  
  .card{
    width: 40vw;
    height: 50vw;
  }

  /*back*/
  .info p{
    font-size: 4vw;
  }

  .border-header{
    font-size: 4.2vw;
  }

  .border-details{
    font-size: 3.5vw;
  }
  .details-country-name{
    font-size: 6vw;
  }

}


@media (min-width:800px){
  .home{
      display: grid;
      justify-content: center;

  }
  .Nav{
    display: flex;
    align-items: center;
  }
  .top{
    margin-top: 3vw;
    grid-column: 1/-1;
    display: grid; 
    column-gap: 20.5vw;
  }
 
.filter{
  position: relative;
  margin-top: 0;
  grid-column: 3/4;
  width: 15vw;
 
}
.filter.active .content{
  position:absolute;
}
 
.filterText{
  font-size: 1vw;
  padding-left: 1vw;
}
.select-btn{
  position: absolute;
  padding-right: 1vw;
  right: 0;
}
.select{
  display: flex;
  position: relative;
  width: 15vw;
  padding: 1vw 0;
  border-radius: 5px;
}
.search{
  margin-top: 0;
}
  .options{
    margin-top: 0.5em;
    width: 15vw;
  }
  .options li{
    height: 2vw;
    font-size: 1vw;
  }


  .search input{
    width: 33vw;
    padding: 1vw 5vw;

  }

  .search-btn{
    padding: 1vw 0;
    padding-left: 2vw;

   }
  
  ::placeholder{
    font-size: 1.1vw;
    padding-left: 1vw;
  }

  .search input:focus{
    padding-left: 5vw;
  }
  
  .card{
    width: 19vw;
    height:24vw;
    border-radius: 5px;
    margin-top: 3vw;
  } 

  .bottom{
    display: grid;
    column-gap: 4.3vw;
    grid-template-columns: repeat(4,19vw); 
  }

  /* country page styling desktop (back-page)*/

  .country-container{
    margin: 0 2vw;
  }

  .backBtn{
    border-radius: 4px;
    margin-top: 80px;
    width: 136px;
    height: 40px;
  }
  .back{
    font-size: 16px;
    padding-left: 4px;
  }
/* border-fix*/
  .box{
    width: 7vw;
    height: fit-content;
    line-height: 1;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
    padding: 0.3em 0;
  }

  .border-details{
    gap: 0.5vw 0.7vw;
    margin-left: 0.4vw;
  }

  .Details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    margin-top: 6vw;
  }

  .border-countries >h4{
    width: 130px;
    align-self: center;
    white-space: nowrap;
  }
 
  .border-countries{
    display: flex;
  }
  .border-header{
    margin: 0;
    line-height: 1;
    font-size:16px;
    width: 130px;
  }


  /* right-left-back-details-desktop-style*/

  .sub-details{
    margin: 0;
    margin-left: 3vw;
  }

  .leftDetails{
    line-height: 2;
  }

  .rightDetails{
    margin: 0;
    line-height: 2;
  }
  .details-country-name{
    line-height: 1;
    margin: 0;
    margin-bottom: 2vw;
    font-size: 32px;
    grid-column: 1/-1;
    
  }
  .info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
 

  .backFlag img{
    border-radius: 10px;
    width: 95%;
  }

  /* text decoration for big screens*/
  .info p,.border-header{
    font-size: 16px;
  }

  .border-details{
    font-size: 14px;
  }
  .details-country-name{
    font-size: 32px;
  }
}




