@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,600;0,800;1,300;1,600;1,800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box ;
  font-family: 'Nunito Sans', sans-serif;


}
body{
  background: #fafafa;
}


@media (min-width:500px){
  .bottom{
    display: grid;
    grid-template-columns: repeat(2,45vw); 
    column-gap: 3vw ;
  }
  
  .card{
    width: 45vw;
    height: 50vw;
  }
}


@media (min-width:800px){
  .home{
      display: grid;
      justify-content: center;

  }
  .top{
    margin-top: 3vw;
    grid-column: 1/-1;
    display: grid; 
    column-gap: 20.5vw;
  }
 
.filter{
  position: relative;
  margin-top: 0;
  grid-column: 3/4;
  width: 15vw;
 
}
.filter.active .content{
  position:absolute;
}
 
.filterText{
  font-size: 1vw;
  padding-left: 1vw;
}
.select-btn{
  position: absolute;
  padding-right: 1vw;
  right: 0;
}
.select{
  display: flex;
  position: relative;
  width: 15vw;
  padding: 1vw 0;
  border-radius: 5px;
}
.search{
  margin-top: 0;
}
  .options{
    margin-top: 0.5em;
    width: 15vw;
  }
  .options li{
    height: 2vw;
    font-size: 1vw;
  }


  .search input{
    width: 33vw;
    padding: 1vw 5vw;

  }

  .search-btn{
    padding: 1vw 0;
    padding-left: 2vw;

   }
  
  ::placeholder{
    font-size: 1.1vw;
    padding-left: 1vw;
  }

  .search input:focus{
    padding-left: 5vw;
  }
  
  .card{
    width: 19vw;
    height:24vw;
    border-radius: 5px;
    margin-top: 3vw;
  } 

 
  .bottom{
    display: grid;
    column-gap: 4.3vw;
    grid-template-columns: repeat(4,19vw); 
  }

  /* country page styling desktop*/

  .Details{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(2,50%);
  }

  .sub-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .border-countries{
    margin-top: 3vw;
    display: flex;
    flex-wrap: wrap;
    
  }
 
  .border-header{
    width: 9vw;
    height: fit-content;
    font-size: 1vw;
  }
 

  .backFlag{
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .backFlag img{
    border-radius: 10px;
  }
}




